.replayBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 55px;
  font-size: 1.3rem;
  cursor: pointer;
  background: rgb(34, 34, 85);
  color: rgb(251, 251, 251);
  border: none;
  border-radius: 8px;
  transition: all 0.05s ease-in-out;
  &:hover {
    background: rgb(186, 186, 186);
    color: rgb(35, 35, 35);
  }
}
